<a href="https://colab.research.google.com/github/perigor/EngenhariadeDados-Growdev/blob/main/Atividade_Estruturas_de_dados_Semana_04.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![Growdev](https://www.growdev.com.br/assets/images/logo_growdev.png)

![Formação Engenharia de Dados](https://d335luupugsy2.cloudfront.net/cms/files/524558/1707226566/$occu5m8t1op)

Este material tem como objetivo incentivar a prática dos conteúdos estudados até o momento, e a pesquisa. Tenha em consideração que o exercício foi pensado para incentivar a prática dos conteúdos estudados até então, porém aprender a pesquisar faz parte do processo de aprendizagem.

Fique tranquilo, faça os exercícios com calma, e boa prática!

#Orientações:

 - Faça uma copia deste arquivo
 - Após concluir os exercicios, suba seu exercicio para o GitHub e compartilhe o link no **google** Classroom

#Exercícios

#Listas

Para esse exercicio você tera alguns desafios, separei eles em partes, vamos lá?

1 - Crie uma lista com 100 números inteiros.
- Pode ser uma sequência, ou caso queira se desafiar faça de números aleatorios.
- Os dados não devem ser inseridos manualmente, utilize de um laço de repetição para adicionar os elementos a Lista.

In [9]:
lista_numeros = list(range(101))

print(lista_numeros)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

2 - Calcule e exiba a soma de todos os números da lista.

In [10]:
soma = sum(lista_numeros)

print("Lista de números:", lista_numeros)
print("Soma de todos os números na lista:", soma)

Lista de números: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]
Soma de todos os números na lista: 5050

3 - Exiba o maior e o menor número da lista.

In [11]:
maior_numero = max(lista_numeros)
menor_numero = min(lista_numeros)

print("Lista de números:", lista_numeros)
print("Maior número na lista:", maior_numero)
print("Menor número na lista:", menor_numero)

Lista de números: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]
Maior número na lista: 100
Menor número na lista: 0

4 - Pesquise se o número 77 esta presente na lista e exiba:
- Quantas vezes esse número aparece na lista
- Se aparece em qual ou quais posições(Indice).

In [12]:
# Verificando se o número 77 está presente na lista.
if 77 in lista_numeros:
    # Contando quantas vezes o número 77 aparece na lista.
    qtd_vezes = lista_numeros.count(77)

    # Encontrar as posições (índices) em que o número 77 aparece na lista.
    posicoes = [indice for indice, valor in enumerate(lista_numeros) if valor == 77]

    print("O número 77 está presente na lista.")
    print("Quantidade de vezes que o número 77 aparece na lista:", qtd_vezes)
    print("Posições (índices) em que o número 77 aparece na lista:", posicoes)
else:
    print("O número 77 não está presente na lista.")

O número 77 está presente na lista.
Quantidade de vezes que o número 77 aparece na lista: 1
Posições (índices) em que o número 77 aparece na lista: [77]

5 - Ordene a lista de forma descendente e exiba.

In [13]:
lista_numeros.sort(reverse=True)

print("Lista de números em ordem descendente:", lista_numeros)

Lista de números em ordem descendente: [100, 99, 98, 97, 96, 95, 94, 93, 92, 91, 90, 89, 88, 87, 86, 85, 84, 83, 82, 81, 80, 79, 78, 77, 76, 75, 74, 73, 72, 71, 70, 69, 68, 67, 66, 65, 64, 63, 62, 61, 60, 59, 58, 57, 56, 55, 54, 53, 52, 51, 50, 49, 48, 47, 46, 45, 44, 43, 42, 41, 40, 39, 38, 37, 36, 35, 34, 33, 32, 31, 30, 29, 28, 27, 26, 25, 24, 23, 22, 21, 20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

## Tuplas:

Crie uma tupla com os dias da semana e peça para o usuário digitar um número de 1 a 7. Exiba o dia correspondente.

In [14]:
dias_semana = ("Domingo", "Segunda-feira", "Terça-feira", "Quarta-feira", "Quinta-feira", "Sexta-feira", "Sábado")

# Solicitando ao usuário para digitar um número de 1 a 7.
numero = int(input("Digite um número de 1 a 7: "))

# Verificando se o número está dentro do intervalo válido.
if 1 <= numero <= 7:
    # Exibir o dia correspondente ao número digitado.
    dia_correspondente = dias_semana[numero - 1]
    print("O dia correspondente ao número", numero, "é", dia_correspondente)
else:
    print("Número inválido. Por favor, digite um número de 1 a 7.")

Digite um número de 1 a 7: 3
O dia correspondente ao número 3 é Terça-feira

Crie duas tuplas com números inteiros e crie uma terceira tupla com a concatenação das duas.

In [15]:

tupla1 = (1, 2, 3)
tupla2 = (4, 5, 6)


tupla_concat = tupla1 + tupla2

print("Tupla 1:", tupla1)
print("Tupla 2:", tupla2)
print("Tupla concatenada:", tupla_concat)

Tupla 1: (1, 2, 3)
Tupla 2: (4, 5, 6)
Tupla concatenada: (1, 2, 3, 4, 5, 6)

 Crie uma tupla com alguns elementos e remova um elemento específico.

In [27]:

tupla_0l = (1, 2, 3, 4, 5)

#Convertendo tupla em lista.
lista_tupla = list(tupla_0l)

#Removendo numero 3 da lista.
lista_tupla.remove(3)

#Convertendo lista para tupla.

tupla_0l = tuple(lista_tupla)

print("Tupla:", tupla_0l)

Tupla: (1, 2, 4, 5)

#Sets

Crie dois sets com cores diferentes e exiba na tela a união dos dois sets.

In [29]:
set_cores1 = {"vermelho", "azul", "verde"}
set_cores2 = {"amarelo", "roxo", "verde"}


print("União dos sets:")
print(set_cores1 | set_cores2)

União dos sets:
{'verde', 'amarelo', 'roxo', 'vermelho', 'azul'}

Crie uma lista com alguns números repetidos. Converta essa lista em um set para remover as duplicatas e exiba o resultado.

In [30]:

lista_numeros = [1, 2, 3, 4, 4, 5, 5, 6, 7, 7, 8, 9, 9]

# Convertendo a lista em um set para remover as duplicatas.
conjunto_numeros = set(lista_numeros)

# Exibindo o resultado.
print("Lista original:", lista_numeros)
print("Lista sem duplicatas:", conjunto_numeros)

Lista original: [1, 2, 3, 4, 4, 5, 5, 6, 7, 7, 8, 9, 9]
Lista sem duplicatas: {1, 2, 3, 4, 5, 6, 7, 8, 9}

#Dicionários:

 Crie um dicionário com os nomes de algumas frutas e suas respectivas cores. Exiba na tela somente as frutas que são vermelhas.

In [32]:
frutas_cores = {
    "maçã": "vermelho",
    "uva": "roxo",
    "morango": "vermelho",
    "banana": "amarelo",
    "cereja": "vermelho"
}


print("Frutas vermelhas:")
for fruta, cor in frutas_cores.items():
    if cor == "vermelho":
        print(fruta)

Frutas vermelhas:
maçã
morango
cereja

Crie um dicionário com o nome e a idade de três pessoas. Busque por  um nome e exiba a idade correspondente.

In [35]:
pessoas = {"Alice": 30, "Bob": 25, "Carol": 35}

nome = "Bob"

print("A idade de", nome, "é", pessoas.get(nome))

A idade de Bob é 25

Crie um dicionário com os nomes e idades de algumas pessoas. Peça para o usuário digitar um nome e sua nova idade, e atualize o dicionário com essa informação.

In [36]:
pessoas = {"Alice": 30, "Bob": 25, "Carol": 35}

nome = input("Digite o nome da pessoa: ")
nova_idade = int(input("Digite a nova idade: "))


pessoas[nome] = nova_idade

print("Dicionário de pessoas atualizado:")
print(pessoas)

Digite o nome da pessoa: Carol
Digite a nova idade: 37
Dicionário de pessoas atualizado:
{'Alice': 30, 'Bob': 25, 'Carol': 37}

Desafio Dicionários:

Busque o código desenvolvido para o exercicio abaixo e altere o algoritmo para:

 - Salvar o resultado da eleição em um dícionário.


Exemplo de saida do dicionario: {"Candidato 1": 2, "Candidato 2": 2, "Voto Nulo": 0, "Voto Branco": 1}


Este exercicio foi realizado na lista da semana passada, exercicio de número 4:


"Em uma eleição presidencial existem dois candidatos. Os votos são informados através de códigos. Os dados utilizados para a contagem dos votos obedecem à seguinte codificação:

1,2 = voto para os respectivos candidatos

3 = voto nulo

4 = voto em branco;

Elabore um programa que leia o código de votação de 5 eleitores. Calcule e escreva: total de votos para cada candidato total de votos nulos total de votos em branco"

#Listas por Compreensão:

Crie uma lista com os números Impares de 1 a 20 utilizando listas por compreensão.

In [39]:

numeros_impares = [num for num in range(1, 21) if num % 2 != 0]

print(numeros_impares)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

Crie uma lista com as letras da frase "Sou estudante de dados", utilizando listas por compreensão.

In [41]:
frase = "Sou estudante de dados"

letras = [letra for letra in frase if letra != ' ']

print(letras)

['S', 'o', 'u', 'e', 's', 't', 'u', 'd', 'a', 'n', 't', 'e', 'd', 'e', 'd', 'a', 'd', 'o', 's']