* Importando bibliotecas

In [13]:
import psycopg2
import random
from datetime import datetime, timedelta

In [14]:
# Configurações de conexão
conn = psycopg2.connect(
    dbname='postgres',
    user='postgres',
    password='postgres',
    host='localhost',
    port='5432'
)

cur = conn.cursor()

Função para gerar dados aleatórios

In [15]:
def random_date(start, end):
    return start + timedelta(
        seconds=random.randint(0, int((end - start).total_seconds())),
    )

 Inserir Dados na Tabela Clientes

In [16]:
# Insira 10.000 registros na tabela Clientes:

try:
    for i in range(10000):
        nome = f'Cliente_{i}'
        endereco = f'Endereco_{i}'
        telefone = f'123456789{i}'
        email = f'cliente_{i}@exemplo.com'
        data_nascimento = random_date(datetime(1950, 1, 1), datetime(2000, 1, 1)).date()
        cur.execute("INSERT INTO Clientes (Nome, Endereco, Telefone, Email, Data_Nascimento) VALUES (%s, %s, %s, %s, %s)",
                    (nome, endereco, telefone, email, data_nascimento))
    conn.commit()
except Exception as e:
    print(f"Erro ao inserir dados na tabela Clientes: {e}")
    conn.rollback()

Inserir dados na tabela Produtos

In [17]:
try:
    for i in range(10000):
        nome = f'Produto_{i}'
        descricao = f'Descricao_{i}'
        preco = round(random.uniform(1.00, 1000.00), 2)
        estoque = random.randint(1, 100)
        categoria = f'Categoria_{i % 10}'
        cur.execute("INSERT INTO Produtos (Nome, Descricao, Preco, Estoque, Categoria) VALUES (%s, %s, %s, %s, %s)",
                    (nome, descricao, preco, estoque, categoria))
    conn.commit()
except Exception as e:
    print(f"Erro ao inserir dados na tabela Produtos: {e}")
    conn.rollback()

Inserir dados na tabela Pedidos e Itens_Pedido

In [18]:
try:
    for i in range(10000):
        data_pedido = random_date(datetime(2023, 1, 1), datetime(2024, 1, 1))
        status = 'Concluído'
        valor_total = round(random.uniform(10.00, 5000.00), 2)
        id_cliente = random.randint(1, 10000)
        cur.execute("INSERT INTO Pedidos (Data_Pedido, Status, Valor_Total, ID_Cliente) VALUES (%s, %s, %s, %s) RETURNING ID_Pedido",
                    (data_pedido, status, valor_total, id_cliente))
        id_pedido = cur.fetchone()[0]

        for j in range(random.randint(1, 5)):
            quantidade = random.randint(1, 10)
            preco_unitario = round(random.uniform(1.00, 1000.00), 2)
            subtotal = round(quantidade * preco_unitario, 2)
            id_produto = random.randint(1, 10000)
            cur.execute("INSERT INTO Itens_Pedido (Quantidade, Preco_Unitario, Subtotal, ID_Pedido, ID_Produto) VALUES (%s, %s, %s, %s, %s)",
                        (quantidade, preco_unitario, subtotal, id_pedido, id_produto))
    conn.commit()
except Exception as e:
    print(f"Erro ao inserir dados nas tabelas Pedidos e Itens_Pedido: {e}")
    conn.rollback()

Inserir dados na tabela Pagamentos

In [19]:
try:
    for i in range(10000):
        data_pagamento = random_date(datetime(2023, 1, 1), datetime(2024, 1, 1))
        valor_pago = round(random.uniform(10.00, 5000.00), 2)
        metodo_pagamento = random.choice(['Cartão de Crédito', 'Boleto', 'PIX'])
        id_pedido = random.randint(1, 10000)
        cur.execute("INSERT INTO Pagamentos (Data_Pagamento, Valor_Pago, Metodo_Pagamento, ID_Pedido) VALUES (%s, %s, %s, %s)",
                    (data_pagamento, valor_pago, metodo_pagamento, id_pedido))
    conn.commit()
except Exception as e:
    print(f"Erro ao inserir dados na tabela Pagamentos: {e}")
    conn.rollback()